@model PagedList.IPagedList<purchaseTracking.Models.DataIntegration.PurchaseOrders>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Actualizar Seguimiento - SAP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>

</script>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-11">

            <h4 class="text-left"> Líneas a actualizar en SAP <span class="badge bg-secondary">@Model.TotalItemCount</span> </h4><br />

            @using (Html.BeginForm("updateTracking", "Update", FormMethod.Get))
            {
                <div class="input-group mb-">
                    <br />
                    <input type="text" class="form-control" placeholder="Buscar...." name="findString" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-success" value="Buscar" />
                        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("updateTracking", "Update")'"><i class="fas fa-redo"></i></button>
                    </div>
                </div>
            }
            <br />
            <button type="button" class="btn btn-primary float-lg-right" onclick="location.href='@Url.Action("TransferData", "Update")'">
                <i class="fas fa-exchange-alt"></i>&nbsp; Trasladar Datos
            </button>
            <br />
            <br />
            <div style="overflow-x:auto;">
                <table class="table table-responsive-sm table-hover table-border" style="width:100%">
                    <thead class="text-center thead-dark table-border">
                        <tr>
                            <th>
                                DocEntry
                            </th>
                            <th>
                                DocNum
                            </th>
                            <th>
                                LineNum
                            </th>
                            <th>
                                ItemCode
                            </th>
                            <th>
                                Numero Actividad
                            </th>
                            <th>
                                Linea OV
                            </th>
                            <th>
                                Fecha Despacho
                            </th>
                            <th>
                                Fecha Embarcador
                            </th>
                            <th>
                                Fecha Arribo GT
                            </th>
                            <th>
                                Fecha Ingreso CD
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Medio Importación
                            </th>
                            <th>
                                Comentarios Despacho
                            </th>
                            <th>
                                Comentarios Embarcador
                            </th>
                            <th>
                                Comentarios T. Aduanales
                            </th>
                            <th>
                                Comentarios Precio Ent.
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {

                <tr style="cursor:pointer !important">
                    <td>
                        @item.DocEntry
                    </td>
                    <td>
                        @item.DocNum
                    </td>
                    <td class="text-center">
                        @item.LineNum
                    </td>
                    <td class="text-center">
                        @item.ItemCode
                    </td>
                    <td class="text-center">
                        @item.U_NumeroActividad
                    </td>
                    <td class="text-center">
                        @item.U_LineaOV
                    </td>
                    <td class="text-center">
                        @item.U_FechaDespacho
                    </td>
                    <td class="text-center">
                        @item.U_FechaEmbarcador
                    </td>
                    <td class="text-center">
                        @item.U_FechaArribo
                    </td>
                    <td class="text-center">
                        @item.U_FechaIngresoCD
                    </td>
                    <td class="text-center">
                        @item.U_Estado
                    </td>
                    <td class="text-center">
                        @item.U_MedioImportacion
                    </td>
                    <td class="text-center">
                        @item.U_commentsDespacho
                    </td>
                    <td class="text-center">
                        @item.U_commentsEmbarcador
                    </td>
                    <td class="text-center">
                        @item.U_commentsAduanales
                    </td>
                    <td class="text-center">
                        @item.U_commentsPrecioEntrega
                    </td>
                </tr>
                    }

                </table>
                <hr />
            </div>
            <p class="text-center">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>
            <nav>
                <ul class="pagination justify-content-center">
                    @Html.PagedListPager(
                Model,
                page => Url.Action("updateTracking",
                new
                {
                    page,
                    findString = ViewBag.findString
                }
                ),
                new PagedListRenderOptions()
                {
                    LinkToFirstPageFormat = "<<",
                    LinkToPreviousPageFormat = "Anterior",
                    LinkToNextPageFormat = "Siguiente",
                    LinkToLastPageFormat = ">>",
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    LiElementClasses = new List<string> { "page-item", "page-link" }
                })
                </ul>
            </nav>
        </div>
    </div>
</div>

