@model purchaseTracking.Models.Activities.details
@using purchaseTracking.Models.Activities
@{
    ViewBag.Title = "Detalles Solicitud de Vacaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <span class="badge badge-success float-right">@Model.Name</span>
            <h4>Solicitud Disfrute de Vacaciones</h4>
            <hr />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <strong><label class="control-label">Número de Actividad </label></strong>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-secondary" type="button"><i class="fas fa-chart-line"></i></button>
                            </div>
                            <input type="text" class="form-control" value="@Model.ClgCode">
                        </div>
                    </div>
                </div>
                <fieldset disabled>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <strong><label class="control-label">Fecha Inicio Vacaciones </label></strong>
                            <input class="form-control" type="text" value="@Model.CntctDate.ToString("dd/MM/yyyy")">
                        </div>
                        <div class="col-sm-4">
                            <strong><label class="control-label">Fecha Fin Vacaciones</label></strong>
                            <input class="form-control" type="text" value="@Convert.ToDateTime(Model.FechaActualizacion).ToString("dd/MM/yyyy")">
                        </div>
                    </div>
                    @{ 
                        int cantidad = 1;
                        TimeSpan diferencia = Convert.ToDateTime(Model.FechaActualizacion) - Model.CntctDate;
                        cantidad = cantidad + diferencia.Days;
                    }
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <strong><label class="control-label">Días a Tomar</label></strong>
                            <input class="form-control" type="text" value="@cantidad">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <strong><label class="control-label">Estado </label></strong>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark" type="button"><i class="fas fa-flag"></i></button>
                                </div>
                                @if (Model.status == -3)
                                {
                                    <input type="text" class="form-control" value="Aprobado">
                                }
                                else if (Model.status == 1)
                                {
                                    <input type="text" class="form-control" value="En proceso">
                                }
                                else if (Model.status == -2)
                                {
                                    <input type="text" class="form-control" value="En proceso">
                                }
                                else if (Model.status == 4)
                                {
                                    <input type="text" class="form-control" value="Rechazado">
                                }
                                else if (Model.status == 6)
                                {
                                    <input type="text" class="form-control" value="N/A">
                                }
                                else
                                {
                                    <input type="text" class="form-control" value="N/A">
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <strong><label class="control-label">Prioridad </label></strong>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-danger" type="button"><i class="fas fa-exclamation"></i></button>
                                </div>
                                @if (Model.Priority == 1)
                                {
                                    <input type="text" class="form-control" value="Normal">
                                }
                                else if (Model.Priority == 0)
                                {
                                    <input type="text" class="form-control" value="Bajo">
                                }
                                else
                                {
                                    <input type="text" class="form-control" value="Alta">
                                }
                            </div>
                        </div>
                    </div>


                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <strong><label class="control-label"> Asignado a </label></strong>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary" type="button"><i class="fas fa-user-check"></i></button>
                            </div>
                            <input type="text" class="form-control" value="@Model.U_NAME">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <strong><label class="control-label"> Solicitante </label></strong>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" type="button"><i class="fas fa-share"></i></button>
                            </div>
                            <input type="text" class="form-control" value="@Model.U_Solicitante" id="contract">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <strong><label class="control-label">Asunto </label></strong>
                        <textarea type="text" class="form-control" rows="2">@Model.Details</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <strong><label class="control-label">Correo(s) electrónico a notificar </label></strong>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            </div>
                            <textarea type="text" class="form-control" rows="5">@Model.U_Correo</textarea>
                        </div>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(ViewBag.source))
                {
                    <h4>Firma Resgistradas en Solicitud</h4>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-sm-2">
                            <p>
                                <img width="250" height="200" src="@ViewBag.source"
                                     style="border:1px solid"><br>
                            </p>
                            <h7 class="font-weight-bold">Firma de Empleado: </h7>
                            <h7> <br /> @Model.U_Solicitante</h7>
                        </div>
                        @if (Model.status == -3)
                        {
                            <div class="col-sm-2">
                                <p>
                                    <img width="250" height="200" src="@ViewBag.source_j"
                                         style="border:1px solid"><br>
                                </p>
                                <h7 class="font-weight-bold">Firma Jefe Inmediato: </h7>
                                <h7> <br /> @ViewBag.nombre_j</h7>
                            </div>
                            <div class="col-sm-2">
                                <p>
                                    <img width="250" height="200" src="@ViewBag.source_n"
                                         style="border:1px solid"><br>
                                </p>
                                <h7 class="font-weight-bold">Firma Nomina: </h7>
                                <h7> <br /> @ViewBag.nombre_n</h7>
                            </div>
                        }

                    </div>
                }

            </fieldset>

            <br />
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
                </li>
            </ul>
            <div class="tab-content mb-4" id="myTabContent">
                <br />
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">
                    <fieldset disabled>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <strong>
                                    <label class="control-label">
                                        Detalles de Solicitud
                                    </label>
                                </strong>
                                <textarea type="text" class="form-control" rows="7">@Model.Notes</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <strong><label class="control-label">Comentarios Jefe Inmediato </label></strong>
                                <textarea type="text" class="form-control" rows="7">@Model.U_Comentarios</textarea>
                            </div>
                        </div>
                    </fieldset>

                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalEstado">
                        Cambiar Estado
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLocalC">
                        <i class="fas fa-comment"></i> Ingresar Comentarios
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalMail">
                        <i class="fas fa-envelope"></i> Modificar Correos a Notificar
                    </button>

                </div>


            </div>

        </div>
        <br />
        <br />
        <br />



        <!-- Modal para Ingreso de actualizacion de Status -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Actualización Estado Solicitud de Vacaciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("updateStatus", "Account"))
                        {
                            @Html.Hidden("id", Model.ClgCode);
                            @Html.Hidden("ejecutivo", Model.E_Mail);
                            @Html.Hidden("involucrados", Model.U_Correo);
                            @Html.Hidden("orden_venta", Model.DocNum);
                            @Html.Hidden("sn", Model.CardName);
                            <div class="form-group">
                                <strong>Seleccione estado de solictud</strong>
                                <br />
                                <br />
                                @Html.DropDownList("status", new List<SelectListItem>
                             {
                            new SelectListItem{ Text="En Proceso", Value = "1" },
                                 new SelectListItem{ Text="Eliminar Solicitud", Value = "-3" }
                             }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <strong>Ingrese comentarios:</strong>
                                <br />
                                <br />
                                <textarea rows="5" class="form-control" id="comment" name="comment" required>@Model.U_Comentarios</textarea>
                            </div>
                            <div class="alert alert-warning" role="alert">
                                La actualización de comentarios y estado se enviara a todos los correos involucrados en esta actividad!
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal para Ingreso de Comentarios Locales -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalLocalC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ingrese Comentarios en Solicitud</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("updateComments", "Account"))
                        {
                            @Html.Hidden("id", Model.ClgCode);
                            @Html.Hidden("status", Model.status);
                            @Html.Hidden("ejecutivo", Model.E_Mail);
                            @Html.Hidden("involucrados", Model.U_Correo);
                            @Html.Hidden("orden_venta", Model.DocNum);
                            @Html.Hidden("sn", Model.CardName);
                            <div class="form-group">
                                <strong>Ingrese comentarios:</strong>
                                <br />
                                <br />
                                <textarea rows="5" class="form-control" id="comment" name="comment" required></textarea>
                            </div>
                            <div class="alert alert-warning" role="alert">
                                La actualización de comentarios se enviara a todos los correos involucrados en esta actividad!
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Ingreso de Comentarios Locales -->
        <!-- Modal para Ingreso de Comentarios Locales -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Correo(s) electrónico a notificar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("updateMails", "Account"))
                        {
                            @Html.Hidden("id", Model.ClgCode);
                            <div class="form-group">
                                <strong>Ingrese correo(s) electrónico:</strong>
                                <br />
                                <br />
                                <input class="form-control" type="email" id="comment" name="comment" multiple required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Ingreso de Comentarios Locales -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalCheck" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Última Fecha de Actualización</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("updateDate", "Account"))
                        {
                            @Html.Hidden("id", Model.ClgCode);
                            @Html.Hidden("correo", Model.U_Correo);
                            <div class="form-group">
                                <strong>La actividad seleccionada se actualizara con fecha : @DateTime.Now.ToString("dd/MM/yyyy")</strong>
                                <br />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


