@model IEnumerable<purchaseTracking.Models.eTALENT.EPDO_MASTER_DATA>
@{
    ViewBag.Title = "Información Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    decimal temp_dias = 0;
    decimal temp_total = 0;
    decimal temp_gozados = 0;

    int edad = 0;
}
@using purchaseTracking.Models.eTALENT
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-11 mt-3">
            <h4 class="text-left">Mi Información Personal </h4>
            <hr />
            @foreach (var item in Model)
            {
                <fieldset disabled>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Nombre de Empleado</label>
                            <input type="text" class="form-control" value="@item.NOMBRE_COMPLETO">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Fecha de Ingreso</label>
                            <input type="text" class="form-control" value="@item.FECHA_INGRESO">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Puesto</label>
                            <input type="text" class="form-control" value="@item.PLAZA">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Profesión Empleado</label>
                            <input type="text" class="form-control" value="@item.PROFESION">
                        </div>

                        @{
                            DateTime fechaActual = DateTime.Now;
                            DateTime fechaNacimiento;

                            // Validar que el string no esté vacío o sea null
                            if (!string.IsNullOrEmpty(item.FECHA_NACIMIENTO) &&
                                DateTime.TryParse(item.FECHA_NACIMIENTO, out fechaNacimiento))
                            {
                                edad = fechaActual.Year - fechaNacimiento.Year;
                                if (fechaNacimiento.Month > fechaActual.Month ||
                                    (fechaNacimiento.Month == fechaActual.Month && fechaNacimiento.Day > fechaActual.Day))
                                {
                                    --edad;
                                }
                            }
                            else
                            {
                                edad = 0; // o algún valor por defecto
                            }
                        }

                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Edad</label>
                            <input type="text" class="form-control" value="@edad">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Correo Electrónico</label>
                            <input type="text" class="form-control" value="@item.MAIL_INTERNO">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Número de Celular</label>
                            <input type="text" class="form-control" value="@item.CELULAR">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Jefe Inmediato</label>
                            <input type="text" class="form-control" value="@item.JEFE_INMEDIATO">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Unidad</label>
                            <input type="text" class="form-control" value="@item.UNIDAD">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <label class="form-label fw-bold">Dirección de Empleado</label>
                            <input type="text" class="form-control" value="@item.DIRECCION">
                        </div>
                    </div>

                    <h5 class="text-start">Vacaciones Disponibles</h5>
                    <hr />

                    @foreach (purchaseTracking.Models.eTALENT.VACACIONES itm in ViewBag.vacaciones)
                    {
                        temp_total = (int)Math.Round(itm.DIAS);
                        temp_gozados = (int)Math.Round(itm.GOZADOS);
                        temp_dias = (int)Math.Round(itm.DIAS - itm.GOZADOS);

                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <label class="form-label fw-bold">Total Días Vacaciones</label>
                                <input type="text" class="form-control" value="@temp_total">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label fw-bold">Días Tomados</label>
                                <input type="text" class="form-control" value="@temp_gozados">
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-sm-4">
                                <label class="form-label fw-bold">Total Días Disponibles</label>
                                <input type="text" class="form-control" value="@temp_dias">
                            </div>
                        </div>
                    }
                </fieldset>


            }
        </div>
    </div>
</div>

