@model purchaseTracking.Models.Activities.RequestActivity
@using purchaseTracking.Models.Activities
@{
    ViewBag.Title = "Solicitud de Vacaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type='text/javascript'>

    function onchangeS(seleccion, desplegable) {
        if (seleccion == "56") {
            document.getElementById(desplegable).textContent = "Compra Local";
            document.getElementById(desplegable).className = "badge badge-success float-right";
            document.getElementById('atype').value = "56";
        } else if (seleccion = "1") {
            document.getElementById(desplegable).textContent = "Compra Internacional";
            document.getElementById(desplegable).className = "badge badge-primary float-right";
            document.getElementById('atype').value = "1";
        } else {
            document.getElementById(desplegable).textContent = "Solicitud de Compra";
            document.getElementById(desplegable).className = "badge badge-info float-right";
        }
    }
    function onchangeC(seleccion, desplegable,texto) {
        if (seleccion != "") {
            document.getElementById(desplegable).value = seleccion;
            document.getElementById('CardName').value = texto;
        } else {
            document.getElementById(desplegable).value = "";
        }
    }

    function onchangeE(seleccion, desplegable) {
        if (seleccion != "") {
            var docselect = document.getElementById('DocNumForm');
            var selectedText = docselect.options[docselect.selectedIndex].text;
            document.getElementById(desplegable).value = selectedText;

        } else {
            document.getElementById(desplegable).value = "";
        }
    }


    function getAsunto() {
        if (document.getElementById('DocNumForm').value != "0") {
            var docselect = document.getElementById('DocNumForm');
            var selectedText = docselect.options[docselect.selectedIndex].text;

            var cardselect = document.getElementById('carcode');
            var selectedTextCard = cardselect.options[cardselect.selectedIndex].text;
            document.getElementById('asunto').value = selectedText + "_" + selectedTextCard;
        } else {
            $('#modalOrder').modal('show');
        }
    }
    $(function () {
        $(".chosen").chosen();
    });
    $(function () {
        $("#carcode").change(function () {
            var val = $(this).val();
            var subItems="";
            $.getJSON("@Url.Action("GetSub","Request")", {cardCode:val} ,function (data) {
              $.each(data,function(index,item){
                subItems+="<option value='"+item.Value+"'>"+item.Text+"</option>"
              });
                $("#DocNumForm").html(subItems)
            });
        });
    });
</script>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h4>Solicitud Disfrute de Vacaciones</h4>
            <hr />
            @using (Html.BeginForm("newRequest", "Request", FormMethod.Post))
            {
                @Html.Hidden("CardName", "Test");
                <div class="form-group row" style="display:none">               
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Activity, new { htmlAttributes = new { @Value = "cn_Task", @class = "form-control", @maxlength = "100", @required = "required" } })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label"> Tipo de Solicitud </label></strong>
                        @Html.DropDownListFor(model => Model.ActivityType, new List<SelectListItem>
                        {
                               new SelectListItem{ Text="Solicitud eTALENT", Value = "86" },
                        }, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-5">
                        <strong><label class="control-label"> Asignado a: </label></strong>
                        @{
                            // Code behind user handled
                            List<HandledUsers> handled = new List<HandledUsers>();
                            handled = new purchaseTracking.Connection.Activities.DataActivities().getUsers();

                            @Html.DropDownListFor(model => Model.HandledBy, new SelectList(handled, "USERID", "U_NAME"),
                new { @class = "form-control chosen" })
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label">Solicitante </label></strong>
                        @{
                            // Code behind user handled
                            List<purchaseTracking.Models.Orders.Solicitante> solicitantes = new List<purchaseTracking.Models.Orders.Solicitante>();
                            solicitantes = new purchaseTracking.Connection.Orders.BusinessSN().GetSolicitantes();

                            @Html.DropDownListFor(model => Model.U_Solicitante, new SelectList(solicitantes, "nombre", "nombre"),
                new { @class = "form-control chosen" })
                        }
                    </div>
                    <div class="col-sm-5">
                        <strong><label class="control-label">Asunto</label></strong>
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @id = "asunto", @class = "form-control", @maxlength = "100", @required = "required", @value = "SOLICITUD_VACACIONES" } })
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-comment"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <h5>Detalles de la Solicitud</h5>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label">Fecha de Inicio</label></strong>
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.ActivityDate, new { htmlAttributes = new {  @class = "form-control", @required = "required" , @type = "date"} })
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <strong><label class="control-label">Fecha de Fin</label></strong>
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.EndDueDate, new { htmlAttributes = new {  @class = "form-control", @required = "required", @type = "date" } })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <strong><label class="control-label"> Comentarios </label></strong>
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = 5, @maxlength = 1500 })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label">Envio email </label></strong>
                        @Html.EditorFor(model => model.U_Correo, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "email", @multiple = "multiple" } })
                    </div>
                    <div class="col-sm-5">
                        <strong><label class="control-label">Prioridad </label></strong>
                        @Html.DropDownListFor(model => Model.Priority, new List<SelectListItem>
                         {
                       new SelectListItem{ Text="Seleccione prioridad", Value = "pr_Normal" },
                        new SelectListItem{ Text="Alta", Value = "pr_Normal" },
                             new SelectListItem{ Text="Baja", Value = "pr_Low" },
                                new SelectListItem{ Text="Normal", Value = "pr_High" },
                         }, new { @class = "form-control" })
                    </div>
                </div>
                <button style="float:right" type="submit" class="btn btn-second">Crear Solicitud</button>
                <br />
                <br />
            }
        </div>
    </div>
</div>

