@model purchaseTracking.Models.Activities.RequestActivity
@using purchaseTracking.Models.Activities
@{
    ViewBag.Title = "Solicitud de Vacaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string ValorSolicitando = Session["nombre"].ToString();




}


@*<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    


    $(document).ready(function () {
        $('#checkSolicitud').on('click', function () {
            // Obtener el valor del DropDownListAsunto
            var valorSeleccionado = $('#solicitudDropdown').val();
            var valorSeleccionado2 = $('#solicitudDropdown2').val();

            // Actualizar el valor del campo de texto basado en la selección
            if (valorSeleccionado === "86") {
                $('#resultado').val('Solicitud de Vacaciones');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Home Office") {
                $('#resultado').val('Solicitud de Permiso - Home Office');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Enfermedad") {
                $('#resultado').val('Solicitud de Permiso - Enfermedad');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Permiso con Goce de Salario") {
                $('#resultado').val('Solicitud de Permiso - Permiso con Goce de Salario');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Permiso sin Goce de Salario") {
                $('#resultado').val('Solicitud de Permiso - Permiso sin Goce de Salario');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Goce por tiempo Remunerado") {
                $('#resultado').val('Solicitud de Permiso - Goce por tiempo Remunerado');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Matrimonio") {
                $('#resultado').val('Solicitud de Permiso - Matrimonio');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Nacimiento de Hijo") {
                $('#resultado').val('Solicitud de Permiso - Nacimiento de Hijo');
            }
            else if (valorSeleccionado === "89" && valorSeleccionado2 === "Fallecimiento de Familiar") {
                $('#resultado').val('Solicitud de Permiso - Fallecimiento de Familiar');
            }
        });
    });

        
        

</script>



<script type='text/javascript'>
    $(function () {
        $(".chosen").chosen();
    });

    function onchangeP(seleccion) {

        if (seleccion == "86") {
            document.getElementById('permiso').style.display = "none";


        } else {
            document.getElementById('permiso').style.display = "block";

        }
    }




</script>

<script>
    function onchangeS(value) {
        // Obtiene el texto seleccionado en el dropdown
        var solicitudDropdown = document.getElementById("solicitudDropdown");
        var selectedText = solicitudDropdown.options[solicitudDropdown.selectedIndex].text;

        // Muestra el texto seleccionado junto al campo de "Fecha de Inicio"
        document.getElementById("selectedSolicitud").innerText = ("Fecha de inicio " + selectedText);
        document.getElementById("selectedSolicitud2").innerText = ("Fecha Fin " + selectedText);

    }
</script>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h4>Solicitud Disfrute de Vacaciones / Permisos</h4>
            <hr />
            @using (Html.BeginForm("newRequest", "Account", FormMethod.Post))
            {
                <div class="form-group row" style="display:none">
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Activity, new { htmlAttributes = new { @Value = "cn_Task", @class = "form-control", @maxlength = "100", @required = "required" } })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label"> Tipo de Solicitud </label></strong>
                        @Html.DropDownListFor(model => Model.ActivityType, new List<SelectListItem>
                        {
                            new SelectListItem{ Text="Solicitud Vacaciones", Value = "86" },
                            new SelectListItem{ Text="Solicitud Permiso", Value = "89" },
                        }, new { @class = "form-control", @id = "solicitudDropdown", @onchange = "onchangeP(this.value)" })
                    </div>
                    <div class="col-sm-5">
                        <div id="permiso" style="display:none">
                            <strong><label class="control-label">Permiso especial por: </label></strong>
                            @Html.DropDownListFor(model => Model.U_Observaciones, new List<SelectListItem>

                          {
                                 new SelectListItem{ Text="Home Office", Value = "Home Office" },
                                 new SelectListItem{ Text="Enfermedad", Value = "Enfermedad" },
                                  new SelectListItem{ Text="Permiso con Goce de Salario", Value = "Permiso con Goce de Salario" },
                                 new SelectListItem{ Text="Permiso sin Goce de Salario", Value = "Permiso sin Goce de Salario" },
                               new SelectListItem{ Text="Goce por tiempo Remunerado", Value = "Goce por tiempo Remunerado" },
                                 new SelectListItem{ Text="Matrimonio", Value = "Matrimonio" },
                                 new SelectListItem{ Text="Nacimiento de Hijo", Value = "Nacimiento de Hijo" },
                                    new SelectListItem{ Text="Fallecimiento de Familiar", Value = "Fallecimiento de Familiar" },
                          }, new { @class = "form-control", @id = "solicitudDropdown2" })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label">Jefe Inmediato: </label></strong>
                        @{
                            // Code behind user handled
                            List<HandledUsers> handled = new List<HandledUsers>();
                            handled = new purchaseTracking.Connection.Activities.DataActivities().getUsers();

                            @Html.DropDownListFor(model => Model.HandledBy, new SelectList(handled, "USERID", "U_NAME"),
                new { @class = "form-control chosen" })
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label">Solicitante </label></strong>
                        @Html.EditorFor(model => model.U_Solicitante, new { htmlAttributes = new { @class = "form-control", @maxlength = "150", @Value = ValorSolicitando, @readonly = "readonly", @required = "required" } })
                    </div>
                    <div class="col-sm-5">
                        <strong><label class="control-label">Asunto</label></strong>
                        <div class="input-group mb-3">

                            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @id = "resultado", @class = "form-control", @maxlength = "100", @required = "y", @readonly = "y" } })

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="checkSolicitud"><i class="fas fa-comment"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <h5>Detalles de la Solicitud</h5>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label id="selectedSolicitud" class="control-label">Fecha de Inicio</label></strong>
                        
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "date" } })
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <strong><label id ="selectedSolicitud2" class="control-label">Fecha de Fin </label></strong>
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.U_FechaActualizacion, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "date" } })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label">Medio Día</label></strong>
                        <div class="input-group mb-3 form-check">
                            <input name="U_retrasoDias" class="form-check-input" type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <strong><label class="control-label"> Comentarios </label></strong>
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = 5, @maxlength = 1500 })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <strong><label class="control-label">Envio email </label></strong>
                        @Html.EditorFor(model => model.U_Correo, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "email", @multiple = "multiple" } })
                    </div>
                    <div class="col-sm-5">
                        <strong><label class="control-label">Prioridad </label></strong>
                        @Html.DropDownListFor(model => Model.Priority, new List<SelectListItem>
                         {
                       new SelectListItem{ Text="Seleccione prioridad", Value = "pr_Normal" },
                        new SelectListItem{ Text="Alta", Value = "pr_Normal" },
                             new SelectListItem{ Text="Baja", Value = "pr_Low" },
                                new SelectListItem{ Text="Normal", Value = "pr_High" },
                         }, new { @class = "form-control" })
                    </div>
                </div>

                <button id="crearSolicitudBtn" style="float:right" type="submit" class="btn btn-second">Crear Solicitud</button>

                <br />
                <br />
            }
        </div>
    </div>
</div>

