@model IEnumerable<purchaseTracking.Models.Invoice.Invoice>
@using purchaseTracking.Models.Invoice
@{
    ViewBag.Title = "Detalle de Facturación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    double totalFacturado = 0;
    double SaldoPendiente = 0;
}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-11">
            @foreach (SalesOrders detalle in ViewBag.header)
            {
                <br />
                <h4>@detalle.DocNum - @detalle.CardName <span class="badge bg-secondary">@ViewBag.totalItem</span></h4>
                <hr />
                <div class="form-group row">
                    <div class="col-sm-4">
                        <strong><label class="control-label">Nombre Consultor </label></strong>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary" type="button"><i class="fas fa-user"></i></button>
                            </div>
                            <input type="text" class="form-control" value="@detalle.SlpName">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <strong><label class="control-label">Fecha Emisión Orden de Venta </label></strong>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" type="button"><i class="fas fa-calendar"></i></button>
                            </div>
                            <input type="text" class="form-control" value="@detalle.DocDate">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <strong><label class="control-label">Monto Orden de Venta </label></strong>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-info" type="button"><i class="fas fa-user"></i></button>
                            </div>
                            <input type="text" class="form-control" value="@string.Format("${0:#,##0.#0}", detalle.DocTotal)">
                        </div>
                    </div>

                </div>
                if (ViewBag.totalItem > 0)
                {
                    <div class="alert alert-info" role="alert">
                        Facturas Emitidas
                    </div>
                    if (Convert.ToInt32(ViewBag.totalItem) > 0)
                    {
                        <table class="table table-bordered table-responsive-sm">
                            <thead class="table-dark text-center">
                                <tr>
                                    <th>
                                        Número Factura
                                    </th>
                                    <th>
                                        Fecha Factura
                                    </th>
                                    <th>
                                        Tipo Factura
                                    </th>
                                    <th>
                                        Estado Factura
                                    </th>
                                    <th>
                                        Total Documento
                                    </th>
                                    <th>
                                        Pago Aplicado
                                    </th>
                                    <th>
                                        Saldo
                                    </th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.DocNum
                                    </td>
                                    <td class="text-center">
                                        @item.FechaFactura
                                    </td>
                                    <td class="text-center">
                                        @item.TipoFactura
                                    </td>
                                    <td class="text-center">
                                        @item.EstadoFactura
                                    </td>
                                    <td class="text-right">

                                        @string.Format("$ {0:#,##0.#0}", item.TotalUSD)

                                    </td>
                                    <td class="text-right">
                                        @string.Format("$ {0:#,##0.#0}", item.PagoAplicado)
                                        @{
                                            totalFacturado = totalFacturado + item.PagoAplicado;
                                        }
                                    </td>
                                    <td class="text-right">
                                        @{
                                            double temp = item.TotalUSD - item.PagoAplicado;
                                            SaldoPendiente = SaldoPendiente + temp;
                                        }
                                        @string.Format("$ {0:#,##0.#0}", temp)


                                    </td>

                                </tr>
                            }
                        </table>
                        <a href="@Url.Action("ExportExcelRequestDetails", "Debs", new {  CardCode = "" })" class="float-left">
                            <span>
                                Exportar a Excel
                            </span>
                        </a>
                        <br />
                        <div class="form-row">
                            <div class="col-sm-8">
                                <h5><b> Resumen Total Documentos</b></h5>
                                <hr />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-3">
                                <strong><label class="control-label"> Total Facturado </label></strong>
                                <input class="form-control" disabled value="@string.Format("$ {0:#,##0.#0}",totalFacturado)" />
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-sm-3">
                                <strong><label class="control-label"> Saldo Pendinete </label></strong>
                                <input class="form-control" disabled value="@string.Format("$ {0:#,##0.#0}",SaldoPendiente)" />
                            </div>
                        </div>
                        <br />
                    }
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        No existen Facturas Emitidas!
                    </div>
                }
            }
            <br />

        </div>
    </div>
</div>

